.header {
    background-image: url(../img/naruto-hokage-wallpaper-for-iphone.jpg);
    border: solid #fff 0;
    border-radius: 120px;
    text-align: center;
    background-repeat: no-repeat;
}
h1 {
    font-family: 'Mirza', cursive;
    font-size: 50px;
    text-align: center;
}
p {
    font-size: 30px;
}
img {
    max-width: 100%;
    height: 400px;
    margin: 25px;
    padding-left: 0;
    padding-right: 0;
    border: 0 #fff solid;
}

.img {
    max-width: 100%;
    display: inline-block;
}
.form {
    padding-top: 100px;
    background-image: url(../img/naruto-hokage-wallpaper-for-iphone.jpg);
    border-radius: 80px;
    border: #fff solid 0;

}
