.header {
    background-image: url(../img/naruto-hokage-wallpaper-for-iphone.jpg);
    border: solid #fff 6px;
    border-radius: 120px;
    text-align: center;
    background-repeat: no-repeat;
}
h1 {
    font-family: 'Mirza', cursive;
    font-size: 70px;
    text-align: center;
}
p {
    font-size: 30px;
}
img {
    max-width: 150%;
    height: 400px;
    margin: 25px;
    padding-left: 0;
    padding-right: 0;
    border: 5px #fff solid;
}

.img {
    max-width: 100%;
    display: inline-block;
}
